html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f2f2f2;
}

.form {
  background-color: #fff;
}

legend {
  padding-right: 1rem;
}

h1 {
  border-bottom: 1px solid #000;
}

@media only screen and (min-width: 60em) {

  .med {
    padding: .5rem;
  }

}
